* {
    -webkit-appearance: none;
    box-shadow: none;
    outline: none; 
}

.number-input {
    position: relative;
    display: block;
    margin: 5px 0px;
}

.number-input:after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

.number-input input {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #e0e0e0;
    font-family: inherit;
}

.number-input input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #e0e0e0;
    width: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #e0e0e0;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}

.text-input {
    position: relative;
    display: block;
    padding: 6px 0px;
    cursor: text;
}

.text-input input:placeholder-shown + span,
.text-input textarea:placeholder-shown + span {
    left: 10px;
    top: 20px;
    font-size: 16px;
    width: 90%;
    color: #515151;
}

.text-input span,
.text-input input:focus + span,
.text-input textarea:focus + span {
    position: absolute;    
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0px;
    height: 15px;
    line-height: 15px;
    background: #ffffff;
    padding: 0px 5px;
    padding-bottom: 1px;
    left: 10px; 
    top: 0px;
    transition: top 0.2s;
    width: initial;
    color: #000000;
}

.text-input input,
.text-input textarea {
    border: 1px solid #e0e0e0;
    position: relative;
    padding: 0px;
    margin: 0px;
    padding: 10px 15px;
    font-family: inherit;
    font-weight: 300;
    font-size: 16px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.text-input textarea {
    resize: vertical;
    height: 150px;
}

.text-input input:focus,
.text-input textarea:focus {
    border: 1px solid #2b5fe2;
}

.select-input {
    display: block;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    height: 42px;
    margin: 5px 0px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    background: #fbfbfb;
}

.select-input .select-input-title {
    line-height: 42px;
    padding: 0px 15px;
    font-weight: 200;
}

.select-input .select-input-title > span {
    font-weight: 600;
}

.select-input .select-input-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background: #f8f8f8;
    border: 1px solid #2b5fe2;
    left: -1px;
    top: 100%;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    max-height: 150px;
    overflow-y: auto;
}

.select-input .select-input-menu input {
    display: none;
}

.select-input .select-input-menu label {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
}

.select-input .select-input-menu label:hover,
.select-input .select-input-menu input:checked + label {
    background: #eeeeee;
}

.select-input.active {
    border-color: #2b5fe2;
    border-radius: 4px 4px 0px 0px;
}

.select-input.active .select-input-menu {
    display: initial;
}

.button-input {
    border: 1px solid #3f51b5;
    display: block;
    color: #3f51b5;
    background-color: transparent;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.1s;
    margin: 5px 0px;
}

.button-input:hover {
    background: #dee0ef;
}

#no-prescriptions-warning {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.item {
    border: 1px solid #e0e0e0;
    border-left: 3px solid #65db39;
    padding: 10px;
    margin: 15px 0px;
    cursor: pointer;
}

.item:hover {
    background: #f6f6f6;
}

.item .item-title {
    font-weight: 600;
}

.item .item-times {
    margin: 5px 0px;
    color: #474747;
}

.item .item-notes:before {
    content: "notes";
    color: #a8a8a8;  
    left: 0px;
    position: absolute;
}

.item .item-notes {
    position: relative;
    padding-left: 60px;
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
}

.delete {
    border-color: #b33a3a;
    color: #b33a3a;
}

.delete:hover {
    background: #efcece;
}