body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    font-weight: 300;
    margin: 0px;
    height: 100%;
}

header {
    background-color: #fafafa;
    height: 45px;
    color: #f92e31;
    border-bottom: 1px solid #e5aca9;
    padding: 0px 20px;
    letter-spacing: -1px;
}

header > * {
    position: relative;
    height: 37px;
    line-height: 37px;
    top: 4px;
    font-size: 22px;
}

header #patient-name #patient-first-name {
    font-weight: 600;
}

#panes {
    position: absolute;
    width: 100%;
    top: 45px;
    bottom: 0px;
}

#panes > * {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

#panes-header {
    font-size: 18px;
    border-bottom: 3px solid #cecccc;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}

#panes-header-buttons {
    position: absolute;
    top: -2px;
    right: 0px;
}

#panes-header .button {
    transition: background 0.1s;
    display: inline-block;
    border: 1px solid #d3d3d3;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    padding: 0px 14px;
    font-size: 16px;
    cursor: pointer;
}

#panes-header .button:hover {
    background: #efefef;
}

#panes-header .button i {
    line-height: 28px;
    float: left;
    margin-left: -6px;
    margin-right: 2px;
    font-size: 20px;
}

#panes #left-pane {
    float: left;
    width: 50%;
    z-index: 1;
}

#prescription-update .button-input {
    display: inline-block;
}
